* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: 5px solid salmon;
    background-color: white;
    display: grid;
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(4, auto);
}

.item {
    font-size: 4rem;
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
}