* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 200px;
    gap: 4rem;
    height: 800px;
    background-color: white;
    place-content: center;
}

.item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #acd900;
}

.item span {
    display: inline-block;
    width: 50px;
    height: 100px;
    background-color: #61a91d;
}