* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: antiquewhite;
}

.container-2 {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    background-color: antiquewhite;
}

.item {
    border: 5px solid lightblue;
    font-size: 2rem;
}